* {
    font-family: monospace;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(54, 43, 58);
}

#display {
    background-color: lightgray;
    height: 40px;
    width: 300px;
    border-radius: 7px;
    font-size: 25px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    border: none;
    margin: 5px;
    font-size: larger;
}

button:active {
    background-color: rgb(126, 114, 131);
}

#zero {
    width: 215px;
}

#clear {
    min-width: 215px;
}

.buttons {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(124, 112, 129);
    border-radius: 7px;
    flex-wrap: wrap;
    max-height: 350px;
}
.operators {
    display: flex;
    flex-direction: column;
}

.functions {
    display: flex;
    flex-direction: column;
}
.calculator {
    padding: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(91, 70, 99);
    align-items: center;
    border-radius: 7px;
}

.numPad {
    max-width: 230px;
}